* {
    margin: 0;
    padding: 0;
    color: #292929;
}

body {
    line-height: 1.5em;
    font-size: 1.2em;
}

/***** Slide Set-up Info ********/
.slide {
    width: 800px;
    height: 650px;
    margin: 1% auto;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.helpSlide {
    /* background-color: #FBEFF0; */
    background-color: #FBF0F1;
}

.clearfix {
    clear: both;
}

/* main title section on slides  */
.slideTitle {
    height: 90px;
    display: block;
    background-color: #466365;
    margin-bottom: 25px;
}

.titleBlock {
    margin: 30px;
    display: block;
}

.primaryTitle {
    padding-top: 20px;
    color: #ffffff;
}
.secondaryTitle {
    color: #ffffff;
}

/**** for slides with left menu buttons and right content ****/
.btn-group-left {
    float: left;
    width: 25%;
    margin: 8% auto auto 5%;
}

.rightContent {
    float: left;
    width: 60%;
    margin: 30px 45px 40px 30px;
}

.content-noBtns {
    margin: 45px 40px;
}
/******* end slide setup *************/

/****** Cover Slide *****************/
.coverSlideTitle {
    margin-top: 100px;
    padding: 10px 0;
    box-shadow: 5px 10px 18px #888888;
    background-color: #466365;
}

.coverSlideTitle h1, .coverSlideTitle h2{
    color: #fff;
    padding: 10px 35px;
}

.backgroundImage {
    background-image: url("https://olc.webster.edu/sandbox/kirsten/tvm/images/money.png");
    background-position: center;
} 
/****** End Cover Slide ****/


/** for CONTENT title section  ***/
.contentTitle {
    font-size: 1.5em;
    text-align: center;
    margin: 25px auto;
}
/*** end all slide titles ***/

/****** General slide styles ******/
.indent {
    margin: 5px 25px;
}

li {
    margin: 0 0 0 30px;
}

p {
    margin-bottom: 25px;
}

/********* BUTTON STYLES *********/
/* general button style */
.btn {
    background-color: #466365;
    color: #fff;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 125px;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #b1b1b1;
    margin: 10px;
}

.continueBtn {
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.nextPageBtn {
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.backBtn {
    position: absolute;
    bottom: 20px;
    right: 180px;
}

.backHelpBtn {
    position: absolute;
    bottom: 20px;
    right: 180px;
}

.helpBtn {
    position: absolute;
    bottom: 20px;
    right: 180px;
    background-color: #CC444B;
}

button:hover {
    background-color: #CEAC8E;
}

button:active {
    background-color: #bfc3ba;
    color: #292929;
}
.active {
    background-color: #bfc3ba;
    color: #292929;
}
/***********************************************/



/********* SLIDE SIX BUTTON STYLES *********/

button.presentValue {
    /* background-color: #ff7c25; */
    background-color: #F79256;
    color: #fff;
}

button.time {
    background-color: #623cea;
    color: #fff;
}

button.interest {
    /* background-color: #ff679f; */
    background-color: #F76F8E;
    color: #fff;
}

/*********** end button styles **************/

/* text styles *************** */

.futureValue {
    color: #4fa135;
}

.time {
    color: #623cea;
}

.presentValue {
    /* color: #ff7c25; */
    color: #F79256;
}

.interest {
    /* color: #ff679f; */
    color: #F76F8E;
}

.faded {
    color: #706f6f;
    font-size: .8em;
}

/* end text styles *************** */

.icons {
    display: flex;
    justify-content: space-around;
}
.icon {
    max-width: 75px;
    max-height: 75px;
    margin: auto;
}