.futureValue {
    color: #4fa135;
}

.time {
    color: #7546d2;
}

.presentValue {
    /* color: #ff7c25; */
    color: #ff6600;
}

.interest {
    /* color: #ff679f; */
    color: #ff1a6e;
}

.faded {
    color: #706f6f;
}