* {
    margin: 0;
    padding: 0;
    color: #292929;
}

body {
    line-height: 1.5em;
    font-size: 1.2em;
}

/***** Slide Set-up Info ********/
.slide {
    width: 750px;
    height: 700px;
    margin: 1% auto;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.helpSlide {
    background-color: #EADBCE;
}

.clearfix {
    clear: both;
}

/* main title section on slides  */
.slideTitle {
    height: 90px;
    display: block;
    background-color: #466365;
    margin-bottom: 25px;
}

.titleBlock {
    margin: 30px;
    display: block;
}

.primaryTitle {
    padding-top: 20px;
    color: #ffffff;
}
.secondaryTitle {
    color: #ffffff;
}

/**** for slides with left menu buttons and right content ****/
.btn-group-left {
    float: left;
    width: 25%;
    margin: 8% auto auto 5%;
}

.rightContent {
    float: left;
    width: 60%;
    margin: 30px 45px 40px 30px;
}

.contentSectionNoVertBtns {
    margin: 45px 40px;
}
/******* end slide setup *************/

/****** Cover Slide *****************/
.coverSlideTitle {
    margin-top: 100px;
    padding: 10px 0;
    box-shadow: 5px 10px 18px #888888;
    background-color: #466365;
}

.coverSlideTitle h1, .coverSlideTitle h2{
    color: #fff;
    padding: 10px 35px;
}

.backgroundImage {
    background-image: url("/Users/kirstennaughton/Dropbox/WEBSTER/CODE/time-value-money/tvm/images/money.png");
    background-position: center;
} 

/****** End Cover Slide ****/


/** for CONTENT title section  ***/

.contentTitle {
    font-size: 1.5em;
    text-align: center;
    margin: 25px auto;
}
/*** end all slide titles ***/

/****************** General slide styles ************/

.indent {
    margin: 5px 25px;
}

li {
    margin: 0 0 0 30px;
}

p {
    margin-bottom: 25px;
}



/********* BUTTON STYLES *********/

/* general button style */

.btn {
    background-color: #466365;
    color: #fff;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 125px;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #b1b1b1;
    margin: 10px;
}

.continueBtn {
    position: absolute;
    bottom: 35px;
    right: 35px;
}

.backBtn {
    position: absolute;
    bottom: 35px;
    right: 180px;
    
}

.helpBtn {
    position: absolute;
    bottom: 35px;
    right: 180px;
    background-color: #CC444B;
}

button:hover {
    background-color: #b37d4e;
}

button:active {
    background-color: #bfc3ba;
    color: #292929;
}
.active {
    background-color: #bfc3ba;
    color: #292929;
}

/* button:focus {
    background-color: #466365;
    color: #ffffff;
} */
/***********************************************/



/********* SLIDE SIX BUTTON STYLES *********/

button.presentValue {
    /* background-color: #ff7c25; */
    background-color: #ff6600;
    color: #292929;
}

button.time {
    background-color: #7546d2;
    color: #fff;
}

button.interest {
    /* background-color: #ff679f; */
    background-color: #ff1a6e;
    color: #fff;
}

/*********** end button styles **************/

/* text styles *************** */

.futureValue {
    color: #4fa135;
}

.time {
    color: #623cea;
}

.presentValue {
    /* color: #ff7c25; */
    color: #F79256;
}

.interest {
    /* color: #ff679f; */
    color: #F76F8E;
}

.faded {
    color: #706f6f;
}

/* end text styles *************** */

.icons {
    display: flex;
    justify-content: space-around;
}
.icon {
    max-width: 75px;
    max-height: 75px;
    margin: auto;
}